# Application configuration
HOST=0.0.0.0
PORT=8000

# Project configuration (DEV, TEST, PROD)
PROJECT_ENV=DEV

# Project platform (Docker, Local)
PROJECT_PLATFORM=Docker

# Database configuration
DB_DRIVER="mysql+pymysql"
DB_HOST=127.0.0.1
DB_D0CKER_HOST=health-facilities-tracker-db
####Development######
DB_NAME_DEV=
DB_USER_DEV=
DB_PASSWORD_DEV=
DB_HOST_DEV=
DB_PORT_DEV=3308
####Testing######
DB_NAME_TEST=
DB_USER_TEST=
DB_PASSWORD_TEST=
DB_HOST_TEST=
DB_PORT_TEST=3307
####Production######
DB_NAME_PROD=
DB_USER_PROD=
DB_PASSWORD_PROD=
DB_HOST_PROD=
DB_PORT_PROD=3306

# JWT configuration
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN_MINUTES=
REFRESH_TOKEN_EXPIRES_IN_MINUTES=
JWT_ALGORITHM=HS256

# EMAIL configuration
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=
MAIL_PORT=
MAIL_FROM=
FRONTEND_URL=
MAIL_TLS=True
